**/*.rs.bk
/target
/extra
/archives
/resources
/libs
/Settings.toml
/user.css
/src/wrapper/*.so
/src/wrapper/*.dylib
/dist
/thirdparty/*/*
!/thirdparty/*/*kobo*
.docker_cargo_cache
plato\.iml

\.idea/
rusty-tags.vi
dist64/
libs64/
